body {
  height: 100vh;
  background-color: #f3f3f1;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  color: #f3f3f1;
  background-color: #a51c30;
  width: 100%;
  height: 6em;
  justify-content: center;
  align-items: center;
}

main {
  padding: 3em;
}

main > .container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.card > .new {
  display: flex;
  color: #bac5c6;
  font-size: 4rem;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: #8996a0;
  justify-content: center;
  align-items: center;
}

.new:hover {
  color: #f3f3f1;
  background-color: #52865c;
  cursor: pointer;
}

.modal {
  display: none;
  background: #f3f3f1;
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 1;
  padding: 20px;
  box-shadow: 1px 1px 5px #bac5c6;
  border-radius: 10px;
  justify-content: center;
  flex-direction: column;
  align-items: initial;
}

.form {
  display: flex;
  color: #1e1e1e;
  flex-direction: column;
  align-items: initial;
}

.modal > .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.title {
  font-size: 2em;
}

.close {
  font-size: 1.5rem;
  align-self: initial;
  color: #93a1ad;
}

/* toggle switch by https://codepen.io/Sivacva/ */
.switch input {
  display: none;
}

.switch {
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 4px;
  transform: translateY(50%);
  position: relative;
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  box-shadow:
    0 0 0 2px #777,
    0 0 4px #777;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #777;
  border-radius: 30px;
  transform: translateX(-20px); /*translateX(-(w-h))*/
  transition: 0.2s;
}

.toggle:checked + .slider:before {
  transform: translateX(20px); /*translateX(w-h)*/
  background-color: limeGreen;
}

.toggle:checked + .slider {
  box-shadow:
    0 0 0 2px #4db848,
    0 0 4px #4db848;
}

input {
  margin-bottom: 8px;
}
