body {
  height: 100vh;
  background-color: #f3f3f1;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  color: #f3f3f1;
  background-color: #a51c30;
  width: 100%;
  height: 6em;
  justify-content: center;
  align-items: center;
}

main {
  padding: 3em;
}

main > .container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.card > .new {
  display: flex;
  color: #bac5c6;
  font-size: 4rem;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: #8996a0;
  justify-content: center;
  align-items: center;
}

.new:hover {
  color: #f3f3f1;
  background-color: #52865c;
  cursor: pointer;
}

.modal {
  display: none;
  background: #f3f3f1;
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 1;
  padding: 20px;
  box-shadow: 1px 1px 5px #bac5c6;
  border-radius: 10px;
  justify-content: center;
  flex-direction: column;
  align-items: initial;
}

.form {
  display: flex;
  color: #1e1e1e;
  flex-direction: column;
  align-items: initial;
}

.title {
  margin-bottom: 12px;
  font-size: 2em;
}

input {
  margin-bottom: 8px;
}
